.ItemImg {
  width: 300px;
}

.CardContainer {
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1em;
  border-color: black;
}

.CardItemDetail {
  border: 2rem;
  border-color: black;
}

picture {
  display: flex;
  width: 10%;
}
