.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(3, 43, 69, 0.7);
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 15px;
}

.CardItem:hover {
  transform: scale(1.02);
  box-shadow: 8px 8px 8px #ffc080;
}

.CardItemPicture {
  display: flex;
  justify-content: center;
  width: 100%;
}
